name: Docker

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Build the docker-compose stack
      run: |
        cd docker
        docker-compose up -d

    - name: Check running containers
      run: docker ps -a
