name: Python

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install dependencies
        run: |
          python -m pip install --upgrade setuptools pip wheel
          python -m pip install .[dev]

      - name: Lint with flake8
        run: |
          flake8 --statistics

      - name: Check static typing
        run: |
          mypy semaphore examples

      - name: Build package
        run: |
          python -m pip install .
          python setup.py sdist bdist_wheel

      - name: Install package
        run: |
          python -m pip install dist/semaphore-*.tar.gz

      - name: Build documentation
        run: |
          cd docs
          make html
